* {
  margin: 0%;
  font-family: sans-serif;
}
/* CSS for Navigation*/
.navigation {
  background-color: #06141c;
  width: 100%;
  color: #ffffff;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0px 10px 6px #b2bec3;
}
nav {
  display: flex;
  align-items: center;
  padding: 0px 2%;
}
nav .logo {
  width: 150px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
/*CSS for Main Body*/
.body-div {
  background-color: #dfe6ef;
  padding: 30px 3.7%;
}
.body-div h2 {
  color: #06141c;
  font-weight: 1000;
  padding-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
/*CSS for IEpisodes Card*/
.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 6px #b2bec3;
  text-align: center;
}
.card h3 {
  color: #061c0f;
  font-weight: 1000;
  padding: 5px;
}
.card h5 {
  color: #061c0f;
  padding-bottom: 10px;
}
.card img {
  border-radius: 20px;
  max-width: 100%;
}
.card p {
  text-align: justify;
  margin: 1em;
  padding: 10px;
  color: #383838;
}
.card button {
  background-color: #ee4f37;
  border: none;
  color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
}
.card button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  color: #ee4f37;
  background-color: #ffffff;
}
